<div class="jumbotron">
    <h1 class="display-4">Burger Logger</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Nondevoured Burgers</h3>
            {{#each nondevouredBurgers}}
            <p>{{burgerName}}</p>
            <button value={{id}}>Devour it!</button>
            {{/each}}
        </div>
        <div class="col-6">
            <h3>Devoured Burgers</h3>
            {{#each devouredBurgers}}
            <p>{{burgerName}}</p>
            {{/each}}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <form action="/" method="POST">
                <textarea type="text" name="burger"></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>
    $("button").on("click", function (event) {
        const id = $(this).val();
        $.ajax({
            url: "api/" + id,
            method: "GET"
        }).done(window.location.assign("/"));
    });
</script>