<div class="jumbotron">
    <h1 class="display-4">Burger Logger</h1>
</div>
<img class="burgerImg" src="/assets/images/burger.png">
<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Nondevoured Burgers</h3>
            <table>
            {{#each nondevouredBurgers}}
            <tr>
            <td><class="burgerName">{{burgerName}}</td>
            <td><button class="btn btn-danger" value={{id}}>Devour it!</button></td>
            </tr>
            {{/each}}
            </table>
        </div>
        <div class="col-6">
            <h3>Devoured Burgers</h3>
            {{#each devouredBurgers}}
            <p>{{burgerName}}</p>
            {{/each}}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="form-group">
            <form style="text-align:center" action="/" method="POST">
                <label>Add a burger:</label>
                <input type="text" name="burger"></input>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
            </div>
        </div>
    </div>
</div>

<script>
    $("button").on("click", function (event) {
        const id = $(this).val();
        $.ajax({
            url: "api/" + id,
            method: "GET"
            //Send user back to homepage for refresh
        }).done(window.location.assign("/"));
    });
</script>