/* button {
    display: inline-block;
} */

/* .burgerName {
    display: inline-block;
} */

body {
    text-align: center;
}

table {
    width: 100%;
}

form {
    margin: 20px;
}

.burgerImg {
    width: 200px;
}


